.stock-view-card {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    max-width: 60%;
    text-align: center;
}

.stock-view-form-field-wrapper {
    width: 30%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock-view-done-btn-wrapper button {
    height: 60px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

.stock-list-card {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    max-width: 60%;
    text-align: center;
}